.containerBorder{

    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22);
    /*position: relative;*/
    overflow:hidden;
    width: 750px;
    max-width: 100%;
    min-height: 480px;
    padding: 180px;
    margin-bottom: 30px;
    top: 200px;

}
.containerBorder h1{

    color:rgb(44, 150, 84) ;
    text-align: center;
    position: absolute;
    bottom: 400px;
    margin: auto;
    left: 20%;
    right: 20%;
}

.containerBorder .para{

    font-size: 17px;
    position:absolute ;
    margin: auto;
    bottom: 320px;
    left: 30%;
    right: 25%;
    color: black;
    font-weight: bolder ;

}
.containerBorder .EnterEmail{

    position: absolute;
    left: 32%;
    right: 32%;
    bottom: 200px;
    width: 250px;
    height: 40px;
    font-weight: bold;
    margin: auto;
    

}

.containerBorder .BackButton{

    position: absolute;
    left: 43%;
    right: 43%;
    bottom: 120px;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background:#ff4b2b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: auto;
}
