.serch-container {
    background-image: url(../images/search2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

.serch-container > div{
    text-align: center;
    font-size: 15px; 
}   

select{
    width: 20%;
}

