.container{

border-radius: 10px;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22);
position: relative;
overflow:hidden;
width: 1208px;
max-width: 100%;
min-height: 480px;
padding: 50px;
margin: 150px;
left: 250px;
top: 100px;

}
.login{

    text-align: center;


}

.inputField{

    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding: 0 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.inputField input {

background: #eee;
border:none;
padding: 12px 15px;
margin: 8px 0;
width: 100%;
}

.inputField .loginBtn {

    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background:#ff4b2b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 40px;
    letter-spacing: 1px;
    text-transform: uppercase;


}

.loginBtn:active{

transform:scale(0.95);

}

